
body{
    font-family: sans-serif;
    background-color: #bddeeb;

}

h1{
    color: rgb(118, 12, 179);
}

/*HEADER 
Menu de Navegación*/
.img_header{
    width:  520px;
    margin-right: 30px;
    padding: 10px;
  }