<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Mi sitio web {% block title%}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
   </head>

   <body>
      <header>
         <nav class="navbar">
            <div class="nav-link">
                  <a class="nav-link a"  href="{{ url_for('index') }}">Inicio</a>
                  <a class="nav-link a"  href="{{ url_for('hello') }}">Hola</a>
                  <a class="nav-link a"  href="{{ url_for('register') }}">Registrar usuario</a>
               <h1>ACADEMIA DE HISTORIA Y BELLAS ARTES</h1>
            </div>
         </nav>
         {% block image%}
         <div class="contenedor-imagen">
            <a href="">
               <img class="img-header" src="static/img/Obras-de-arte.jpg" alt="imagen header">
            </a>
         </div>
         {% endblock %}
         <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>  
      </header>
    
      
      {% block content %}
       <!-- Bloque de contenido -->
       {% endblock %}

    </body>

</html>