
{% extends 'base.html' %}
{% block image %} {% endblock %}

{% block title%} Página de Hello {% endblock %}

{%  block content %}

    {% if data.name == none and data.age == none %}
        <h1>Hola Mundo Artístico!</h1>
    {% elif data.age == none %}
        <h1> Hola {{data.name}} !! </h1> 
    {% elif data.email == none %}
        <h1> Hola, {{data.name}} y el doble de tu edad es: {{data.age * 2 }} !! </h1>
    {% else %}
    <h2>Mis datos:</h2>
    <ul>
        <li>Nombre: {{ data.name }} </li>
        <li>Edad: {{ data.age }} </li>
        <li>Email: {{ data.email }} </li>
    </ul>
    {% endif %}


{% endblock %}